<?xml version="1.0" encoding="utf-8"?>
<manifest package="org.fitchfamily.android.gsmlocation"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <!--
    Temporarily REMOVED from service tag until org.microg.nlp is fixed:
    android:permission="android.permission.ACCESS_COARSE_LOCATION"
    https://github.com/microg/android_packages_apps_GmsCore/issues/986
    -->

    <application
        android:allowBackup="false"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name=".GsmService"
            android:label="@string/app_name"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="org.microg.nlp.LOCATION_BACKEND"/>
            </intent-filter>

            <meta-data
                android:name="org.microg.nlp.BACKEND_SETTINGS_ACTIVITY"
                android:value="org.fitchfamily.android.gsmlocation.ui.MainActivity_"/>
            <meta-data
                android:name="org.microg.nlp.BACKEND_SUMMARY"
                android:value="@string/summary"/>
        </service>

        <service
            android:name=".async.SpiceService"
            android:exported="false"/>

        <activity
            android:name=".ui.MainActivity_"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.settings.mcc.AreaListActivity_">
        </activity>
    </application>

</manifest>
